{% extends "base_navbar.html" %}

{% block main %}

<h3>Change of guards</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Available monitors</h3>
  </div>
  <div class="panel-body">
    <div class="table-responsive">
      <table class="table">
        {% for monitor in monitors %}
        <tr>
          <td><a href="/list/?monitor={{ monitor }}">{{ monitor }}</a></td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>

{% endblock %}
